:host
  border-bottom: 1px solid #F0F0F0
  display: flex
  align-items: center
  gap: 16px
  padding: 8px
  min-width: 425px

  .brand
    align-items: center
    color: var(--primary)
    display: flex

    svg-icon
      height: 40px
      width: 40px

    .caption
      color: var(--text-primary)
      font-weight: var(--fw-300)

  .status-account-badge
    background-color: var(--primary-light)
    border-radius: 6px
    color: var(--primary-dark)
    padding: 2px 8px
  .actions
    display: flex
    flex-direction: row
    gap: 16px
    margin-left: auto
    color: var(--text-primary)

    i-button
      height: 32px
      width: 32px
      display: flex
      justify-content: center
      align-items: center

      svg-icon
        height: 32px
        width: 32px
