button
  all: unset
  align-items: center
  background: var(--primary)
  border-radius: 12px
  border: 1px solid #00b13b00
  color: var(--text-primary)
  cursor: pointer
  display: inline-flex
  gap:8px
  justify-content: center
  outline: none
  padding: 8px 24px 8px 24px
.outline
  background: white
  border-color: var(--primary)
  color: var(--text-primary)
  icon
    display: inline-flex
    height: 1.5em
    line-height: 1.5em
    min-height: 1.5em
    min-width: 1.5em
    width: 1.5em
button[disabled]
  background: var(--gray-300)
  pointer-events: none

icon.button
  background: var(--gray-100)
  border-radius: 8px
  cursor: pointer
  &:hover
    box-shadow: 0 6px 8px #00000015